/**************** upcoming_event css start ****************/
.upcoming_event{
    position: relative;
    z-index: 1;
    &:after{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 46%;
        content: "";
        background-color: $section_bg;
    }
    .upcoming_event_1{
        position: relative;
        z-index: 1;
        background-color: $section_bg_1;
        @media #{$small_mobile}{
            margin-bottom: 250px;
        }
        @media #{$large_mobile}{
            margin-bottom: 150px;
        }
        @media #{$tab_device}{
            margin-bottom: 200px;
        }
        @media #{$medium_device}{
        
        }
        
        .upcoming_event_text{
            position: absolute;
            right: 0px;
            top: 0px;
            width: 271px;
            background-color: $section_bg_1;
            padding: 35px 22px;
            box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, .5);
            margin: 10px;
            @media #{$small_mobile}{
                top: 50%;
            }
            @media #{$large_mobile}{
                top: 40%;
            }
            @media #{$tab_device}{
                top: 40%;
            }
            @media #{$medium_device}{
            
            }
            .date{
                display: inline-block;
                float: left;
                padding-right: 20px;
                margin-right: 20px;
                border-right: 2px solid #fff;
                h3{
                    color: $white_color;
                    font-size: 28px;
                    font-weight: 700;
                    span{
                        font-size: 50%;
                        display: block;
                        font-family: $font_stack_1;
                        font-weight: 400;
                        margin-top: 5px;
                    }
                }
            }
            .time{
                
                ul li{
                    color: $white_color;
                    margin-bottom: 13px;
                    span{
                        font-size: 14px;
                        margin-right: 13px;
                    }
                }
            }
            p{
                color: $white_color;
                margin-top: 35px;
            }
            .btn_2{
                margin-top: 22px;
            }
        }
    }
}